*
{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  align-content: center;
  align-items: center;
  align-self: center;
}

body
{
  align-content: center;
  align-items: center;
  align-self: center;
}
#qrcode {
  width:160px;
  height:160px;
  margin-top:35px;
  left: 500px;
  top: 500px;
  align-content: center;
  align-items: center;
  align-self: center;
}