.board
{
  font-size: 9em;
}
#scoreboard 
{
  display: grid;
  grid-template-columns: auto auto ;
  gap: 100px;
  width: 100%;
  height: auto;
}
#scoreboard > div
{
  text-align: center;
  border: solid 25px rgba(222, 222, 222);


}

h1
{
  margin: 5px;
  text-align: center;
  text-wrap: true;
  font-size: 5em;

}
h2
{
  margin: 10px;
  text-align: center;
  font-size: 25em;
  border: solid 10px;
  border-radius: 25px;
  background-color: black;
  color: #ffd700;
}
.btnteam
{
  margin: 1px;
  font-size: 5em;
  background-color: #ffd700;
}